<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Каталог</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="form-inline">
                <a asp-controller="Home" asp-action="Index" class="mr-4">Главная</a>
                <a class="mr-4">/</a>
                <a asp-controller="Catalog" asp-action="Index" class="mr-4">Каталог</a>
                <a class="mr-4">/</a>
                <a class="mr-4">Новинки</a>
                <a class="mr-4">/</a>
            </div>
        </div>
    </div>
</body>
</html>
